@page "/mypage"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage




<h1>Welcome to MyPage!</h1>
<h2>Your shoppinglists:</h2>

@code {

}
